.FootContainer {
    height: 100%;
    width: 100%;
    margin: 100px auto;
    padding: 20px 20px;
    background-color: rgb(226 232 240);
    ;
}

.FootUpperbox {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;

    margin: 30px 50px;
    font-weight: 500;
}

.FootUpperbox #box1 {


    text-align: left;

}

.FootUpperbox #box1 h4,
span {
    display: block;
    text-align: center;


}

.FootUpperbox #box2 {}

.FootUpperbox #box2 h4,
span {
    display: block;
    text-align: center;
}


.FootUpperbox #box3 {}

.FootUpperbox #box3 h4,
span {
    display: block;
    text-align: center;
}

.FootUpperbox #box4 {}

.FootUpperbox #box4 h4,
span {
    display: block;
    text-align: center;
}

.FootUpperbox #box5 {


    padding: 10px 30px;
}

.FootUpperbox #box5 h4,
span {
    display: block;
    padding: 10px 30px;
}

.FootUpperbox #box5 span {
    padding: 0 0px;
    width: 50%;
}

.FootUpperbox #box5 input {
    padding: 15px 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: grey;
    margin: 20px 0;
}

.FootUpperbox #box5 button {

    background-color: rgb(100, 21, 255);
    color: white;
    padding: 15px 40px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.FootLowerbox {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.FootLowerbox div {
    display: flex;
}

.FootLowerbox h1 {
    display: inline;

    font-size: 2rem;
    margin: 10px;

}

.FootLowerbox img {
    display: inline;
    height: 13%;
    width: 13%;
}

.FootLowerbox .socialmedia {
    display: flex;
}

@media (max-width:700px) {

    .FootUpperbox {

        font-size: 1rem;


        margin: 30px 50px;
        font-weight: 500;
    }

    .FootUpperbox #box5 button {



        padding: 15px 90px;

    }

    .FootLowerbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .FootLowerbox div {
        display: flex;
        margin: 20px;
        margin-left: 20px;
    }

    .FootLowerbox .socialmedia {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}