.NineContainer {
    display: flex;

    padding: 10px 30px;
}

.NineContainer .NineMain {
    display: block;
    width: 100%;
    background-color: rgba(246, 96, 246, 0.5);

    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 50px 4px;
    border-radius: 10px;

}

.NineMain h1 {
    color: rgb(36 62 99);

}

.NineMain button {
    padding: 15px 40px;
    display: flex;
    margin: 20px auto;
    font-weight: 900;
    border-radius: 10px;
    border: none;

}

.NineMain .NineBtn1 {
    background-color: rgb(100, 21, 255);
    color: white;

}

.NineMain .NineBtn2 {
    background-color: white;
    color: rgb(100, 21, 255);
}

@media(min-width:987px) {
    .NineContainer {

        padding: 0px 120px;
    }

    .NineContainer .NineMain {
        display: flex;
        padding: 80px 0;

    }

    .NineMain h1 {
        display: block;
        font-size: 3rem;
        padding: 0 200px;

    }

    .NineMain h1 span {
        display: block;
    }

    .NineMain button {
        padding: 25px 50px;

        margin: 20px 10px
    }
}