.EightContainer {
    display: block;
    width: 100%;
    height: 100%;

    margin: 150px auto;
}

.EightUpperbox {
    display: block;

    text-align: center;
}

.EightUpperbox h6 {
    font-size: 1.5rem;
    color: rgb(100, 21, 255);
    padding: 10px 0;
}

.EightUpperbox h3 {
    font-size: 4rem;
    font-weight: bolder;
}

.EightLowerbox {
    display: block;
    width: 100%;
    height: 100%;

    margin: 100px auto;
}

.eightbox1 {
    display: block;

    height: 100%;
    width: 100%;
    padding: 0 30px;
}

.eightbox1 .img1 {
    background-image: url(./images/photo1.avif);
    background-size: cover;
    height: 40vh;
    width: 82vw;
}

.eightbox1 div {
    height: 100%;
    width: 100%;
    background-color: rgb(226 232 240);
}

.eightbox1 h6 {
    font-size: 2.5rem;
    padding: 10px 10px;
}

.eightbox1 p {
    font-size: 1.5rem;
    margin: 20px;
}

.eightbox1 span img {
    height: 15%;
    width: 15%;
    border-radius: 200px;
    margin: auto 30px;
}

.eightbox1 .imgDesc {
    display: inline;
    font-size: 1rem;
    padding-top: -30px;
}

/*second image propa*/

.eightbox2 {
    display: block;

    height: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 0 30px;
}

.eightbox2 .img2 {
    background-image: url(./images/photo2.avif);
    background-size: cover;
    height: 40vh;
    width: 83vw;
}

.eightbox2 div {
    height: 100%;
    width: 100%;
    background-color: rgb(226 232 240);
    padding: 20px 0;
}

.eightbox2 h6 {
    font-size: 2rem;
    padding: 10px 10px;
}

.eightbox2 span {
    font-size: 1.5rem;
    margin: 20px;
}

/* third image prop*/
.eightbox3 {
    display: block;

    height: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 0 30px;
}

.eightbox3 .img3 {
    background-image: url(./images/photo3.avif);
    background-size: cover;
    height: 40vh;
    width: 83vw;
}

.eightbox3 div {
    height: 100%;
    width: 100%;
    background-color: rgb(226 232 240);
    padding: 20px 0;
}

.eightbox3 h6 {
    font-size: 2rem;
    padding: 10px 10px;
}

.eightbox3 span {
    font-size: 1.5rem;
    margin: 20px;
}

/* fourth image props*/
.eightbox4 {
    display: block;

    height: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 0 30px;
}

.eightbox4 .img4 {
    background-image: url(./images/photo4.avif);
    background-size: cover;
    height: 30vh;
    width: 84vw;
}

.eightbox4 div {
    height: 100%;
    width: 100%;
    background-color: rgb(226 232 240);
    padding: 20px 0;
}

.eightbox4 h6 {
    font-size: 2rem;
    padding: 10px 10px;
}

.eightbox4 span {
    font-size: 1.5rem;
    margin: 20px;
}

/*fifth image prop*/
.eightbox5 {
    display: block;

    height: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 0 30px;
}

.eightbox5 .img5 {
    background-image: url(./images/photo5.avif);
    background-size: cover;
    height: 30vh;
    width: 84vw;
}

.eightbox5 div {
    height: 100%;
    width: 100%;
    background-color: rgb(226 232 240);
    padding: 20px 0;
}

.eightbox5 h6 {
    font-size: 2rem;
    padding: 10px 10px;
}

.eightbox5 span {
    font-size: 1.5rem;
    margin: 20px;
}

@media (min-width: 987px) {
    .EightLowerbox {
        display: flex;
        flex-wrap: wrap;

    }

    .eightbox1 {
        display: flex;
        flex-direction: row;

        height: 50%;
        width: 60%;
        padding: 20px 80px;
        align-items: end;
    }

    .eightbox1 .img1 {

        margin: 0 1px;
        height: 59vh;
        width: 56vw;
    }

    .eightbox1 div {
        margin: 0 0px;
        height: 100%;
        width: 100%;
        padding: 95px 10px;

    }

    /*second image propa*/

    .eightbox2 {
        display: inline-block;

        width: 26%;
        margin: 20px 0px;
        padding: 0 5px;
    }

    .eightbox2 .img2 {


        height: 40vh;
        width: 25vw;
    }

    .eightbox2 div {
        height: 40%;
        width: 100%;
        background-color: rgb(226 232 240);
        padding: 15px 0;
    }

    .eightbox2 h6 {
        font-size: 2rem;
        padding: 10px 10px;
    }

    .eightbox2 span {
        font-size: 1.5rem;
        margin: 20px;
    }

    /* third image prop*/
    .eightbox3 {
        display: inline-block;

        width: 26%;
        margin: 20px 10px;
        padding: 0 10px;
    }

    .eightbox3 .img3 {


        height: 40vh;
        width: 24.3vw;
    }

    .eightbox3 div {
        height: 40%;
        width: 100%;
        background-color: rgb(226 232 240);
        padding: 20px 0;
    }

    .eightbox3 h6 {
        font-size: 2rem;
        padding: 10px 10px;
    }

    .eightbox3 span {
        font-size: 1.5rem;
        margin: 20px;
    }

    /* forth image prop*/
    .eightbox4 {
        display: inline-block;

        width: 26%;
        margin: 20px 50px;
        padding: 0 0px;
    }

    .eightbox4 .img4 {


        height: 40vh;
        width: 25.5vw;
    }

    .eightbox4 div {
        height: 30%;
        width: 100%;
        background-color: rgb(226 232 240);
        padding: 20px 0;
    }

    .eightbox4 h6 {
        font-size: 2rem;
        padding: 10px 10px;
    }

    .eightbox4 span {
        font-size: 1.5rem;
        margin: 20px;
    }



    /* fifth image prop*/
    .eightbox5 {
        display: inline-block;

        width: 26%;
        margin: 20px 20px;
        padding: 0 0px;
    }

    .eightbox5 .img5 {


        height: 40vh;
        width: 25.5vw;
    }

    .eightbox5 div {
        height: 30%;
        width: 100%;
        background-color: rgb(226 232 240);
        padding: 20px 0;
    }

    .eightbox5 h6 {
        font-size: 2rem;
        padding: 10px 10px;
    }

    .eightbox5 span {
        font-size: 1.5rem;
        margin: 20px;
    }
}